# deps
**/node_modules/

# build
**/.next/
out/
build/
dist/
coverage/

# env (ignore all, keep example)
.env*
!.env.example
!.env.smoke.example
.env.smoke

# logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
**/*.tsbuildinfo

# supabase cli temp
statrumble/supabase/.temp/
